<app-login></app-login>
<app-register></app-register>
<p-panel [header]="'Welcome: '+userService.user.name" *ngIf="userService.user">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-fw pi-cog"></span>
            </button>
        <p-menu #menu id="config_menu_users" [model]="itemUser" [popup]="true"></p-menu>
    </ng-template>
    <div class="field">
        <label>Email: {{userService.user.email}}</label>
    </div>
</p-panel>

<p-panel header="Dragon ball Heroes">
    <ng-template pTemplate="icons" *ngIf="!userService.isLogin">
        <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-fw pi-users"></span>
            </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p-tabView>
        <p-tabPanel header="Characters">
            <app-character></app-character>
        </p-tabPanel>
        <p-tabPanel header="Favorites" *ngIf="userService.user">
            <app-favorite></app-favorite>
        </p-tabPanel>
    </p-tabView>



</p-panel>
<p-toast [style]="{marginTop: '80px'}"></p-toast>