<p-table *ngIf="userService.responseDto" [value]="userService.responseDto.userCharacterFavoriteList" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Ki</th>
            <th>Gender</th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.person.name}}</td>
            <td>{{item.person.race}}</td>
            <td>{{item.person.ki}}</td>
            <td>{{item.person.gender}}</td>
            <td><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="deleteFavorite(item)"></button></td>
        </tr>
    </ng-template>
</p-table>