<p-dialog [(visible)]="userService.openModalLogin" [responsive]="true" [modal]=true header="Login" (onHide)="clear();">
    <form id="frmLogin" [formGroup]="frmLogin">
        <div class="field"></div>
        <div class="field">
            <span class="p-float-label">
            <input id="txtEmail" type="text" pInputText formControlName="txtEmail"> 
            <label for="txtEmail">Email</label>
        </span>
        </div>
        <div class="field">
            <span class="p-float-label">
            <input id="txtPasswd" type="password" pPassword  formControlName="txtPassword"> 
            <label for="txtPasswd">Password</label>
        </span>
        </div>
        <button pButton type="button" iconPos="left" label="Login" icon="pi pi-sign-in" binary="true" (click)="frmLogin.valid?login():null" [disabled]="!frmLogin.valid"></button>
    </form>
</p-dialog>