<div class="card" *ngIf="characters">
    <p-dataView #dv [value]="characters.items" [paginator]="true" [rows]="9" filterBy="name" layout="list">
        <ng-template pTemplate="header">

        </ng-template>
        <ng-template let-item pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <img [src]="item.image" [alt]="item.name" width="25%"/>
                    <div class="product-list-detail">
                        <div class="product-name" style="font-weight: bold;">{{item.name}}</div>
                        <div class="product-description">{{item.description}}</div>
                    </div>
                </div>
                <div class="product-list-action">
                    <p-button icon="pi pi-search-plus" label="View detail" (click)="apareceModal(item)"></p-button>
                    <button pButton pRipple type="button" label="Add favorite" icon="pi pi-plus" class="p-button-success" (click)="addFavorite(item)" *ngIf="userService.user"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog [(visible)]="modal" [responsive]="true" [modal]=true header="Detail">
    <div class="grid" *ngIf="item">
        <div class="col-6">
            <img [src]="item.image" [alt]="item.name" width="25%" />
        </div>
        <div class="col-6">
            <div class="grid">
                <div class="col-12" style="font-weight: bold;">Name</div>
                <div class="col-12">{{item.name}}</div>
                <div class="col-12" style="font-weight: bold;">Ki</div>
                <div class="col-12">{{item.ki}}</div>
                <div class="col-12" style="font-weight: bold;">Race</div>
                <div class="col-12">{{item.race}}</div>
                <div class="col-12" style="font-weight: bold;">Gender</div>
                <div class="col-12">{{item.gender}}</div>
                <div class="col-12" style="font-weight: bold;">Planet</div>
                <div class="col-12">{{item.originPlanet.name}}</div>
            </div>
        </div>
    </div>
</p-dialog>
