<p-dialog [(visible)]="userService.openModalUser" [responsive]="true" [modal]=true header="User Register" (onHide)="cleanForm();">
    <form id="frmUser" [formGroup]="frmUser">
        <div class="field"></div>
        <div class="field">
            <span class="p-float-label">
            <input id="txtName" type="text" pInputText formControlName="txtName" maxlength="100" [pKeyFilter]="onlyLetter"> 
            <label for="txtName">Name</label>
        </span>
        </div>
        <div class="field">
            <span class="p-float-label">
            <input id="txtEmail" type="text" pInputText formControlName="txtEmail" maxlength="100"> 
            <label for="txtEmail">Email</label>
        </span>
        </div>
        <div class="field">
            <span class="p-float-label">
            <input id="txtPasswd" type="password" pPassword  formControlName="txtPassword" maxlength="600"> 
            <label for="txtPasswd">Password</label>
        </span>
        </div>
        <button pButton type="button" iconPos="left" label="Save" icon="pi pi-save" binary="true" (click)="frmUser.valid?saveUser():null" [disabled]="!frmUser.valid"></button>
    </form>
</p-dialog>